.container {
  margin: 70px 48px 0 48px;
  padding-bottom: 70px;
  @media screen and (max-width: 900px) {
    margin: 32px 24px 0 24px;
    padding-bottom: 32px;
  }
  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 800;
      font-size: 34px;
      line-height: 40px;

      margin-bottom: 16px;
      color: #000000;
      text-align: right;
      @media screen and (max-width: 900px) {
        font-size: 24px;
      }
    }

    &__icon {
      img {
        width: 24px !important;
        height: 24px !important;
      }
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 15px 30px rgba(233, 237, 242, 0.5);
      border-radius: 8px;
    }
  }

  &__devider {
    border-top: 2px solid #e4e6ef;
    height: 1px;
    width: 100%;
  }
  &__items-desktop {
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (max-width: 900px) {
      display: none;
    }
    &__grow {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__items-mobile {
    display: none;
    column-gap: 24px;
    grid-template-columns: auto;
    @media screen and (max-width: 900px) {
      display: grid;
    }
  }
}
