.container {
  background: #ffffff;
  color: #3a3a3a;
  direction: rtl;
  box-shadow: 0px 4px 16px rgba(137, 137, 137, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  margin-top: 32px;
  padding: 16px 24px;
  display: inline-block;
  max-width: 648px;
  @media screen and (max-width: 900px) {
    margin-bottom: 12px;
  }
  cursor: pointer;
  &__title {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
  }
  &__icon {
    width: 24px !important;
    height: 24px !important;
  }
  &__description {
    height: 0;
    overflow: hidden;
  }
  &__expanded-description {
    border-top: 1px solid #efefef;
    margin-top: 12px;
    height: fit-content;
  }
}
